*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Titillium Web', sans-serif;
	font-size:16px;
	color:#131a27;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
    background-color: #e6edf7;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #444a57;
	font-size:1.3rem;
	padding:0;
    font-weight: 500;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#444a57;
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: capitalize;
}
p {
	margin: 0;
	color:#818998;
	font-size:1rem;
    line-height: 1.6;
    text-transform: initial;
}
#productInfoSection img{
    height: 25rem;
    width: 100%;
}
#productInfoSection .SalerInfo{
	height: 25rem;
	width: 100%;
	text-transform: lowercase;
}
.col-lg-3{
	padding-right: 0;
    padding-left: 0;
}

.heading{
	font-size: 1rem;
}
.rating p{
	font-size: 0.8rem;
}
.fa{
	font-size: 1rem;
}
.checked{
	color: #ff9500;
}