@media only screen and (max-width: 1200px) {
  .card-body .btn{
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    
  }
  
  @media only screen and (max-width: 991px) {
    p {
      font-size:13px;
      line-height: 1.5;
    }
    a{
      font-size: 1rem;
    }
    .card-body .btn{
      font-size: 1rem;
    }
    span{
      font-size: 13px;
    }
    h3{
      font-size: 0.8rem;
    }
  }
  
  @media only screen and (max-width: 780px){
    #product .carousel-item{
      height: auto;
  }
  #product .card-body h2{
    font-size: 11px;
  }
  }
  
  
  @media only screen and (max-width: 710px)
  {

  }
  @media only screen and (max-width: 575px)
  {
    .card-body .btn{
      padding: 0.5rem 4rem;
      font-size: 1rem;
    }
  }
